*{
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;
}


nav div img{
    margin-right:0px;
    margin-top: 25px;
    margin-left: 20px;
    width: 60px;
  
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
   color: rgb(99, 141, 180);
    margin-right: 15px;
    margin-top: 25px;
    margin-left: 25px;
}
   

div ul li:first-child{
    font-weight: 800;
    color: black;
}
.nav-button{
    background-color:#434ac9;
    color: #ffffff;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    margin-top: 25px;
    margin-left: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.banner-container div img{
    width: 650px;
    height: 500px;
    margin-top: 40px;
   
}


.heading-text{
   font-size: 60px;
   font-weight: 800;
   color:rgb(30, 44, 105)
}
.heading-text span{
    color: #696ed0;
}
.description{
    color:rgb(82, 120, 155);
    font-size: 16px;
}
.nav-button1{
    background-color:#434ac9;;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    margin-top: 28px;
    
}
    
  





